.recaptcha
  display: flex; 
  justify-content: center; 
.content_form_singin_ 
    background: #fff
    border-radius: 5px;
    padding: 1em
    margin: 1em 0;
    color:#181818;
    margin: 0 auto;
    position: relative;      
    #title_form 
        font-size:25px;
        color: #002361;
        padding-left: 1.5em
        width: 40%
        position: absolute
        padding: .5em 1em
        width: 40%
    .burble_white 
        background: #fff
        border-radius: 100%
        text-align: center
        position: absolute
        left: 1em
        color: #3aafcb
        padding: .6em .9em
        top: -.1em
        -webkit-box-shadow: 10px 10px 5px -10px rgba(0,0,0,.38)
        -moz-box-shadow: 10px 10px 5px -10px rgba(0,0,0,.75)
        box-shadow: 10px 10px 5px -10px rgba(0,0,0,.33)
    .contentForm
        padding-top: 20px
        text-align: left
@media screen and (max-width: 1000px)
    #title_form
        width: 100% !important
.suggestion-box
  position: absolute;
  z-index: 100; 
  width: 90%; 
  border: 1px solid #C4C4C4;
.suggestion
    border-top: 1px solid #C4C4C4;
    padding: 10px;
    cursor: pointer;
    background-color: #FFF;
    color: #737373;
.suggestion:hover
    border: 1px solid #C4C4C4;
    padding: 10px;
    cursor: pointer;
    background-color: DodgerBlue;
    color: #FFF;
.form-control
    font-size:15px;
    max-width 100%;
    padding-left: 4px;
    font-family: sans-serif
.form-control,
.form-control:focus
    border-radius: 5px;
    background: transparent;
    border: 1px solid #C4C4C4;
    height: calc(1.9em + 2px);
    color: #000
.select-lists
  margin-bottom: -1px

.address-helpers
  margin-top: 50px;
  
.text.select-label
  position: absolute  
  margin-top: 15px

.form-control::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  opacity: 1; /* Firefox */
  color: #C4C4C4;
}
.form-control.is-invalid
  border-color: #dc3545 !important;
.form-control.is-valid
  border-color: #28a745 !important;

.form-control:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: #C4C4C4;
}

.form-control::-ms-input-placeholder { /* Microsoft Edge */
  color: #C4C4C4;
}

.text {
  color: #002361;
  font-size: 14px;
}

.form-group {
  margin-top: 25px
}

.selected-item {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
}

.click-limits {
   font-weight: 1000; 
   color: white;
   cursor: pointer
}

.radio-button-pep {
  margin-right: 370px;
}

.error {
    position: absolute;
}

.btn.btn-orange {
  width: 300px;
}

.form-error {
  color: red;
  text-align: justify;
  font-size: 9px;
}


@media only screen and (max-width: 720px) {
  .radio-button-pep {
    margin-right: 140px;
  }
}

@media only screen and (max-width: 500px) {
  .btn.btn-orange {
    width: 200px !important;
  }
}

select.form-control {
  padding-right 0px;
  padding-top: 4px;
}

.select-placeholder {
  color: #C4C4C4;
}

.selected-value {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
}