<div class="download-app d-none" id="donwload-modal">
    <div class="content_color">
        <div class="float-right">
            <i (click)="closeModalDownloadApp()" class="fas fa-times text-white btn_close"></i>
        </div>
        <div class="content_info text-white text-center">
            <img class="icon_download mb-3" src="../../../../assets/img/app_active.svg" alt="">
            <h3 class="mb-0">Descarga la app</h3>
            <img class="logo_betplay" src="../../../../assets/img/logos/logo-download.png" alt="">
        </div>
        <div class="container_down_app">
            <div class="mb-3">
                <button class="btn btn-orange w-100" (click)="downloadAPK()">Descarga la versión de Android</button>
            </div>
            <div class="mb-3">
                <a target="_blank" href="https://huaweimobileservices.com/es/appgallery-esp/"><button class="btn btn-orange w-100" >Descarga la versión de la App Gallery</button></a>
            </div>
            <div>
                <a href="https://apps.apple.com/co/app/betplay/id1468565715"><button class="btn btn-orange w-100">Descarga la versión de IOS</button></a>
            </div>
        </div>
    </div>
</div>