.download-app
    position: fixed;
    left:0;
    top:0;
    width:100%;
    height:100%;
    z-index: 9999;
    display flex
    align-items: center;
    justify-content: center;
    background-color: rgba(0,0,0,.5)
    .content_color
        background: #002361;
        border-radius: 5px;
        padding: 2em;
        width: 100%;
        max-width 600px;
        .content_info
            max-width 250px;
            margin: 0 auto
            .icon_download
                width 100%
                max-width:  200px;
.btn_close
    font-size: 2em;
    cursor pointer
.container_down_app
    max-width 350px
    margin: 0 auto;