<p class="text-left"><b>Recuerda:</b></p>
<ul class="text-left">
<li>
    Mínimo 8 caracteres y máximo 12 
</li>
<li>
    No carácter especial (*/_) 
</li>
<li>
    No datos personales  
</li>
</ul>
<form [formGroup]="formData" novalidate autocomplete="off" (ngSubmit)="changePass()">
  <div class="row m-0">
      <div class="col-12 col-md-6 pl-0">
          <mat-form-field class="w-100">
            <input matInput formControlName="currentPassword" type="password" placeholder="Contraseña actual">
            <mat-error *ngIf="formData.controls.currentPassword.hasError('required')">
                {{texts$.playerValidationError.EmptyCurrentPassword}}
            </mat-error>
          </mat-form-field>
      </div>
      <div class="col-12 col-md-6 p-0">
          <mat-form-field class="w-100">
            <input matInput formControlName="password" type="password" placeholder="Nueva contraseña">
            <mat-error *ngIf="formData.controls.password.hasError('required')">
                {{texts$.playerValidationError.EmptyPassword}}
            </mat-error>
          </mat-form-field>
      </div>
  </div>
  <div class="row m-0">
      <div class="col-12 col-md-6 pl-0">
          <mat-form-field class="w-100">
            <input matInput formControlName="cnfPassword" type="password" placeholder="Repetir contraseña">
            <mat-error *ngIf="formData.controls.cnfPassword.hasError('required')">
                {{texts$.playerValidationError.EmptyCnfPassword}}
            </mat-error>
          </mat-form-field>
      </div>
      <div class="col-12 col-md-6 p-0">
          
      </div>
  </div>
  <div class="alert alert-danger" *ngIf="formError != ''">
        {{texts$.playerValidationError[formError]}}
  </div>
  <div class="alert alert-success" *ngIf="formSuccess != ''">
        {{texts$.GeneralMessages[formSuccess]}}
  </div>
  <div class="text-right">
      <div class="row m-0">
          <div class="col-12 col-md-4">
          </div>
          <div class="col-12 col-md-8 p-0">
              <div class="row m-0 p-0 justify-content-space-between">
                    <div class="col-12 col-md-6 mt-3 pr-md-3 p-0">
                        <button class="w-100 btn btn-secondary" (click)="goBack()" type="button">Cancelar</button>
                    </div>
                    <div class="col-12 col-md-6 mt-3 pl-md-3 p-0">
                        <button *ngIf="!isLoading" class="w-100 btn btn-orange">Guardar</button>
                        <button [disabled] = "disableSubmit" *ngIf="isLoading" class="btn btn-orange pl-3 pr-3" [ngClass]="{ 'disabled':isLoading }" [disabled]="isLoading" type="submit"> Cargando... <i *ngIf="isLoading" class="fas fa-circle-notch fa-spin"></i> </button>
                    </div>
              </div>
          </div>
      </div>
  </div>
</form>