<div class="updateRecoveryPassword">
    <div class="formRecoveryContent">
        <p class="text-blue text-left font-weight-bold text-center title_modal">Cambiar contraseña</p>
        <form class="p-3" *ngIf="texts.RecoveryPassword.Errors" [formGroup]="formData" novalidate autocomplete="off" (ngSubmit)="updatePassword()">
        <div>
            <h5>Introduce una nueva contraseña:</h5>
            <p class="text-left mb-0">Recuerda: Mínimo 8 caracteres y máximo 12</p>
            <p class="text-left mb-0">No carácter especial (*/_)</p>
            <p class="text-left mb-0">No datos personales</p>
           
            <mat-form-field class="w-100">
            <input type="password" matInput [placeholder]="texts.RecoveryPassword.Password" formControlName="password"
                [errorStateMatcher]="matcher" required>
    
            <mat-error *ngIf="formData.controls.password.hasError('required')">
                {{texts.RecoveryPassword.Errors.EmptyPassword}}
            </mat-error>
            <mat-error *ngIf="formData.controls.password.hasError('minlength')">
                {{texts.playerValidationError.PasswordLessThan8}}
            </mat-error>
            <mat-error *ngIf="formData.controls.password.hasError('maxlength')">
                {{texts.playerValidationError.PasswordMoreThan12}}
            </mat-error>
            <mat-error *ngIf="formData.controls.password.hasError('pattern')">
                {{texts.playerValidationError.InvalidPassword}}
            </mat-error>
            </mat-form-field>
            <mat-form-field class="w-100">
                <input type="password" matInput [placeholder]="texts.RecoveryPassword.CnfPassword" formControlName="cnfPassword"
                [errorStateMatcher]="matcher" required>
        
                <mat-error *ngIf="formData.controls.cnfPassword.hasError('required')">
                {{texts.RecoveryPassword.Errors.EmptyCnfPassword}}
                </mat-error>
            </mat-form-field>
        </div>
        <div class="btn-block mt-3">
            <div *ngIf="formError != ''" class="alert alert-danger" role="alert">
            {{ (texts.RecoveryPassword.Errors && texts.RecoveryPassword.Errors[formError]) ? texts.RecoveryPassword.Errors[formError] : formError }}
            </div>
            <div *ngIf="formSuccess != ''" class="alert alert-success" role="alert">
            {{ (texts.RecoveryPassword.Success && texts.RecoveryPassword.Success[formSuccess]) ? texts.RecoveryPassword.Success[formSuccess] : formSuccess}}
            </div>
            <div class="text-center">
                <button mat-raised-button color="primary" [disabled]="isLoading">
                    {{texts.RecoveryPassword.Update }}
                </button>
            </div>
        </div>
        </form>
    </div>
</div>