<div class="All-Bets-history container p-3 text-left">
    <h2 class="ng-binding">Aviso Legal</h2>
    <br>
    <div class="general-text-list">
      <p>Los términos y condiciones recogidos en el presente Aviso Legal regulan el uso de la página web betplay.com.co
        así como para la versiones adaptadas para diferentes dispositivos de acceso (en adelante, la “Web” o el “Sitio”)
        que CORREDOR EMPRESARIAL S.A pone a disposición de los usuarios de la Web (en adelante, “Ususario/s”, “tú” o
        “ustedes”).</p>
      <p>&nbsp;</p>
      <p><strong>BetPlay</strong> es la marca con el cual se promociona y comercializa el juego de suerte y azar de la
        modalidad de novedoso de tipo de juegos operados por internet, regulados por COLJUEGOS EICE en el Acuerdo 04 de
        2016, Resolución No 20161200025334 de 2016, Modelo de Datos, y Contrato C1444 de 2017 celebrado con CORREDOR
        EMPRESARIAL S.A. y el cual se comercializara bajo la marca BetPlay.</p>
      <p>&nbsp;</p>
      <h3>Condiciones Generales de Uso de la Web</h3>
      <p>El acceso y uso de la Web y todos los subdominios y directorios incluidos bajo la misma están sujetos a los
        términos que se detallan en el presente Aviso Legal.</p>
      <p>&nbsp;</p>
      <p>Cualquier entrada, uso o navegación de la presente Web implicará la aceptación de todas las condiciones incluidas
        en este Aviso Legal. CORREDOR EMPRESARIAL S.A podrá modificar las presentes condiciones de uso, así como la Web,
        en cualquier momento y sin necesidad de preaviso. En cualquier caso, las actualizará regularmente.</p>
      <p>&nbsp;</p>
      <p>El Usuario acepta de forma expresa y sin excepciones que el acceso y la utilización de la presente Web se hace
        bajo su única y exclusiva responsabilidad frente a CORREDOR EMPRESARIAL &nbsp;S.A y cualquier tercero. Dicha
        responsabilidad se extiende al registro que fuese necesario para acceder a determinados servicios o contenidos. En
        dicho registro el Usuario será responsable de aportar información veraz y lícita.</p>
      <p>&nbsp;</p>
      <p>El acceso a la Web tiene carácter libre y gratuito, excepto las áreas de acceso restringido.</p>
      <p>&nbsp;</p>
      <p>El Usuario se obliga a usar la Web de forma diligente y correcta y, con carácter enunciativo pero no limitativo,
        se compromete expresamente a no utilizarla:</p>
      <p>&nbsp;</p>
      <p>EL participante se compromete a usar de la manera adecuada la plataforma, garantizando que al momento de realizar
        un depósito debe jugar al menos el 50% del dinero depositado antes de solicitar un retiro.</p>
      <p>&nbsp;</p>
      <p>Para la realización de actividades contrarias a la ley, a la moral, a las buenas costumbres aceptadas o al orden
        público establecido</p>
      <p>&nbsp;</p>
      <p>Para difundir contenidos o propaganda de carácter racista, xenófobo, pornográfico-ilegal, de apología del
        terrorismo o atentatorio contra los derechos humanos</p>
      <p>&nbsp;</p>
      <p>Para provocar daños en los sistemas físicos y lógicos de CORREDOR EMPRESARIAL S.A , de sus proveedores o de
        terceras personas, por la introducción o difusión de virus informáticos ya sea en la red o en cualesquiera otros
        sistemas físicos o lógicos que sean susceptibles de provocar los daños anteriormente mencionados</p>
      <p>&nbsp;</p>
      <p>Para intentar acceder y, en su caso, utilizar las cuentas de correo electrónico de otros usuarios y modificar o
        manipular sus mensajes</p>
      <p>&nbsp;</p>
      <p>Con fines o efectos ilícitos, prohibidos o lesivos de derechos e intereses de terceros, declinando CORREDOR
        EMPRESARIAL S.A&nbsp;cualquier responsabilidad que de todo lo anterior se pudiera derivar.</p>
      <p>&nbsp;</p>
      <p>El Usuario no estará autorizado para copiar, distribuir (incluyendo correos electrónicos e Internet), transmitir,
        comunicar, modificar, alterar, transformar, ceder o, en cualquier otra forma desplegar actividades que conlleven
        el uso comercial o ilícito de la Web o elementos que la integran, ya sea con carácter parcial o total.</p>
      <p>&nbsp;</p>
      <p>El Usuario reconoce que CORREDOR EMPRESARIAL S.A no cede ni transfiere al Usuario ningún derecho sobre la Web así
        como sobre las Marcas Registradas que aparezcan en el mismo, incluyendo, cualesquiera propiedades de terceras
        partes. CORREDOR EMPRESARIAL S.A sólo autoriza al Usuario el acceso y uso a la Web, de conformidad con los
        términos indicados en este Aviso Legal. Queda expresamente prohibida la alteración de esta Web por parte del
        Usuario en todo lo que pueda afectar a su Contenido, tales como vínculos, links o similares.</p>
      <p>&nbsp;</p>
      <p>La información que se difunde por este medio se hace únicamente a título informativo, reservándose CORREDOR
        EMPRESARIAL S.A el derecho de eliminar o suspender su difusión, de manera total o parcial, y de modificar la
        estructura y contenido de la Web sin aviso previo, pudiendo incluso limitar o no permitir el acceso a dicha
        información. El objetivo es mantener la calidad y actualización de esta información y evitar y minimizar posibles
        errores causados por fallos técnicos. No obstante, CORREDOR EMPRESARIAL S.A no garantiza que el acceso a esta Web
        no pueda ser interrumpido o afectado por esos fallos.CORREDOR EMPRESARIAL S.A se reserva la facultad de efectuar,
        en cualquier momento y sin necesidad de previo aviso, modificaciones y actualizaciones de la información contenida
        en la Web o en la configuración y presentación de la misma.</p>
      <p>&nbsp;</p>
      <p>CORREDOR EMPRESARIAL S.A no se hace responsable de las opiniones expresadas por terceros a través de las
        herramientas que a tal efecto dispone o disponga en el futuro en su Web (servicios de chat, foros de discusión o
        grupos de noticias), ni se hace responsable del contenido de los sitios web enlazados a través de dichas
        herramientas. CORREDOR EMPRESARIAL &nbsp;S.A velará para que los contenidos de este Web no tengan carácter
        pornográfico, xenófobo, discriminatorio, racista o que no fomenten la violencia.</p>
      <p>&nbsp;</p>
      <p>CORREDOR EMPRESARIAL S.A se reserva el derecho de retirar todos aquellos comentarios y aportaciones realizadas
        por el Usuario que vulneren el respeto a la dignidad de la persona, que sean discriminatorios, xenófobos,
        racistas, pornográficos, que atenten contra la juventud o la infancia, el orden o la seguridad pública o que, a su
        juicio, no resultaran adecuados para su publicación. En cualquier caso, CORREDOR EMPRESARIAL S.A no será
        responsable de las opiniones vertidas por los usuarios a través de los foros, chats, u otras herramientas de
        participación.</p>
      <p>&nbsp;</p>
      <p>Los Usuarios responderán por los daños y perjuicios de toda naturaleza que CORREDOR EMPRESARIAL S.A &nbsp;pueda
        sufrir, directa o indirectamente, como consecuencia del incumplimiento de cualquiera de las obligaciones derivadas
        de este Aviso Legal o de la ley en relación con la utilización de la Web, y dejará indemne a CORREDOR EMPRESARIAL
        &nbsp;S.A por cualquier daño, perjuicio, gasto (incluyendo, sin limitación, honorarios de abogados),
        responsabilidad civil, sanciones o multas derivadas de cualquier orden jurisdiccional por reclamaciones incoadas
        contra CORREDOR EMPRESARIAL&nbsp;&nbsp;S.A, que se deriven o guarden relación con el incumplimiento de los
        presentes Términos y Condiciones.</p>
      <p>&nbsp;</p>
      <p>&nbsp;</p>
      <h3>Política de Privacidad y Protección de Datos de Carácter Personal</h3>
      <p>Cualquier dato de carácter personal que los Usuarios faciliten durante el uso del Sitio Web será tratado conforme
        a nuestra <a target="_blank" href="https://cempresarial.co/SIGO-GE-PPD-DG-05PoliticaTratamientoDatosPersonalesCEV4202012SIGO.pdf">Política de protección de datos personales</a></p>
      <p>&nbsp;</p>
      <p>Por ejemplo, para el acceso a ciertos servicios prestados a través de la Web se requerirá el registro previo de
        los Usuarios en el ‘Formulario de Registro’, para lo que se solicitará la elección de una contraseña que permita
        la identificación personal del Usuario.</p>
      <p>&nbsp;</p>
      <p>Las contraseñas asignadas serán personales e intransferibles, no estando permitida la cesión, ni siquiera
        temporal, a terceros. Los Usuarios se comprometen a hacer un uso diligente y a mantener en secreto la contraseña
        asignada para acceder a la Web y/o a los servicios que ésta proporciona. En el supuesto de que los Usuarios
        conozcan o sospechen de la pérdida, robo o uso de su contraseña por terceros deberán, a la mayor brevedad posible,
        poner tal circunstancia en conocimiento de CORREDOR EMPRESARIAL&nbsp;&nbsp;S.A. En cualquier caso, cada Usuario
        responderá de los gastos y de los daños y perjuicios ocasionados por la utilización de los servicios por cualquier
        tercero que emplee al efecto su contraseña como consecuencia de una utilización no diligente o de la pérdida de la
        contraseña por el Usuario.</p>
      <p>&nbsp;</p>
      <p>Los Usuarios deben leer y aceptar dicha  Política de protección de datos personales antes de facilitar sus datos personales a CORREDOR
        EMPRESARIAL&nbsp;&nbsp;S.A.</p>
      <p>&nbsp;</p>
      <h3>Propiedad Intelectual e Industrial</h3>
      <p>&nbsp;</p>
      <p>CORREDOR EMPRESARIAL&nbsp;&nbsp;S.A ostenta todos los derechos de propiedad intelectual sobre los contenidos de
        la Web. El Usuario deberá abstenerse de utilizar para fines distintos del objeto de la Web cualquier clase de
        materiales o contenidos accesibles a través de este.</p>
      <p>&nbsp;</p>
      <p>Todo el contenido de la Web, que incluye apariencia visual, textos, imágenes, gráficos, gifs, iconos y otros
        estímulos sensoriales de las páginas web que conforman la Web, así como el diseño, la estructura, la arquitectura
        de navegación, los códigos fuente de las páginas web, fotografías, grabaciones, programas de ordenador o software
        y programación del mismo (en lo sucesivo, el “Software”), base de datos, tecnología, know-how, marcas, signos
        distintivos y logos o los contenidos correspondientes de las compañías que lo componen, es propiedad exclusiva de
        CORREDOR EMPRESARIAL&nbsp;&nbsp;S.A.</p>
      <p>&nbsp;</p>
      <p>Los contenidos propios y las obras reproducidas en esta web propiedad de CORREDOR EMPRESARIAL&nbsp;&nbsp;S.A
        están protegidos por la normativa sobre propiedad intelectual. Queda prohibida su reproducción total o parcial
        excepto en los supuestos y con los límites que expresamente se autoricen.</p>
      <p>&nbsp;</p>
      <p>Respecto a las citas de productos y/o servicios de terceros, CORREDOR EMPRESARIAL&nbsp;&nbsp;S.A reconoce a favor
        de sus titulares los correspondientes derechos de propiedad industrial e intelectual, no implicando su sola
        mención o aparición en la Web la existencia de derechos ni de responsabilidad alguna sobre los mismos, como
        tampoco respaldo, patrocinio o recomendación, a no ser que expresamente así se especifique.</p>
      <p>&nbsp;</p>
      <p>Ninguno de estos elementos puede ser reproducido, modificado, transmitido, distribuido, cedido, comercializado, o
        usado de cualquier otro modo con objeto comercial o público, por cualquier medio, electrónico, mecánico, o
        cualquier otro sistema de reproducción de información.</p>
      <p>&nbsp;</p>
      <p>El Usuario reconoce y acepta que en la Web, los derechos se encuentran protegidos por la legislación aplicable en
        materia de propiedad intelectual, industrial, derechos de explotación del valor comercial y publicitario de la
        imagen y otros derechos análogos.</p>
      <p>&nbsp;</p>
      <h3>Enlaces</h3>
      <p>La presente Web puede contener vínculos o enlaces con otros portales o sitios web no gestionados por CORREDOR
        EMPRESARIAL&nbsp;&nbsp;S.A. CORREDOR EMPRESARIAL&nbsp;&nbsp;S.A manifiesta que no ejerce control alguno sobre
        dichos portales o sitios web, ni es responsable del contenido de los mismos. Los links que esta Web pudiera
        contener se ofrecerán, únicamente, a modo de referencias informativas, cuya finalidad es facilitar el acceso a
        otros contenidos que se consideran de interés.</p>
      <p>&nbsp;</p>
      <p>CORREDOR EMPRESARIAL&nbsp;&nbsp;S.A no asume ningún tipo de responsabilidad directa ni indirecta en relación con
        la licitud, veracidad, utilidad, calidad o fiabilidad de los contenidos que no estén directamente gestionados o
        controlados por éstos, aunque puedan ser accesibles a través de la Web. El establecimiento de estos enlaces no
        implica en ningún caso la existencia de relaciones entre CORREDOR EMPRESARIAL&nbsp;&nbsp;S.A y el propietario de
        la web en el que se establezca, ni la aceptación y aprobación por parte de CORREDOR EMPRESARIAL&nbsp;&nbsp;S.A de
        sus contenidos o servicios.</p>
      <p>&nbsp;</p>
      <h3><strong>Cookies</strong></h3>
      <p>&nbsp;</p>
      <p>En el servidor de CORREDOR EMPRESARIAL&nbsp;&nbsp;S.A se pueden generar unos archivos de información de pequeño
        tamaño, denominados “cookies”, que se almacenarán en el ordenador utilizado por el Usuario.</p>
      <p>En la sección denominada <a href="/static/politica-cookies">Política de Cookies</a> se detalla toda la
        información relativa a cookies, la obtención de consentimiento para su utilización, el tipo de cookies utilizadas
        en CORREDOR EMPRESARIAL&nbsp;&nbsp;S.A, su finalidad y la forma de desactivar o eliminar las mismas.</p>
      <p>&nbsp;</p>
      <h3><strong>Limitación de Responsabilidad</strong></h3>
      <p>&nbsp;</p>
      <p>CORREDOR EMPRESARIAL&nbsp;&nbsp;S.A no asume responsabilidad alguna derivada de la conexión o contenidos de los
        enlaces de terceros o/y realizados por terceros a los que se hace referencia en la Web. CORREDOR
        EMPRESARIAL&nbsp;&nbsp;S.A responde única y exclusivamente del contenido de esta Web que tenga su origen en
        CORREDOR EMPRESARIAL&nbsp;&nbsp;S.A y, en ningún caso, de contenidos que pudieran haber sido introducidos por
        terceros no autorizados.</p>
      <p>&nbsp;</p>
      <p>Tanto el acceso a esta Web como el uso que pueda hacerse de la información contenida en la misma es de la
        exclusiva responsabilidad de quien lo realiza. El Usuario será responsable de todas las acciones que realice en la
        navegación que hiciere en el mismo así como de la custodia de sus claves de acceso, en su caso.</p>
      <p>&nbsp;</p>
      <p>CORREDOR EMPRESARIAL&nbsp;&nbsp;S.A no se hace responsable de los posibles errores de seguridad que se puedan
        producir ni de los posibles daños que puedan causarse al sistema informático del Usuario (hardware y software),
        los ficheros o documentos almacenados en el mismo, como consecuencia de la presencia de virus en el ordenador del
        Usuario utilizado para la conexión a los contenidos de la Web, de un mal funcionamiento del navegador o del uso de
        versiones no actualizadas del mismo. Aunque nuestros datos se actualizan periódicamente, CORREDOR
        EMPRESARIAL&nbsp;&nbsp;S.A no garantiza la inexistencia de errores omisiones o inexactitudes en el acceso a este
        Web, en su contenido, ni que éste se encuentre actualizado, aunque desarrollará sus mejores esfuerzos para, en su
        caso, evitarlos, subsanarlos o actualizarlos.</p>
      <p>&nbsp;</p>
      <p>CORREDOR EMPRESARIAL&nbsp;&nbsp;S.A no se hace responsable de los daños y/o perjuicios de cualquier naturaleza
        que pudiera sufrir el Usuario o un tercero derivados de:</p>
      <p>&nbsp;</p>
      <p>La falta de disponibilidad, mantenimiento o efectivo funcionamiento de la Web o de sus contenidos.</p>
      <p>&nbsp;</p>
      <p>De la falta de utilidad, veracidad, sinceridad, adecuación o validez de la Web o de sus contenidos para
        satisfacer las necesidades o expectativas del Usuario.</p>
      <p>&nbsp;</p>
      <p>De que un tercero, quebrantando las medidas de seguridad establecidas, utilice la Web, sus contenidos para la
        remisión de virus, o acceda a realizar un tratamiento no autorizado de los datos almacenados&nbsp;ni, en general,
        de cualquier uso de la Web y o contenidos que pudiera realizar el Usuario o un tercero, en contra de las
        condiciones de acceso y uso de los mismos aquí establecidas.</p>
    </div>
    <p>&nbsp;</p>
    <div class="general-text-list">
      <h3><strong>Generalidades</strong></h3>
      <p>&nbsp;</p>
      <p>CORREDOR EMPRESARIAL&nbsp;&nbsp;S.A se reserva el derecho de efectuar sin previo aviso las modificaciones que
        considere oportunas en su Web, pudiendo cambiar, suprimir o añadir tanto los contenidos y servicios que se presten
        a través de la misma como la forma en la que éstos aparezcan presentados o localizados en su Web.</p>
      <p>&nbsp;</p>
      <p>CORREDOR EMPRESARIAL&nbsp;&nbsp;S.A se reserva el derecho a denegar o retirar el acceso a su Web y/o los
        servicios ofrecidos sin necesidad de preaviso, a instancia propia o de un tercero, a aquellos usuarios que
        incumplan las presentes Condiciones Generales de Uso.</p>
      <p>&nbsp;</p>
      <p>CORREDOR EMPRESARIAL&nbsp;&nbsp;S.A perseguirá el incumplimiento de las presentes condiciones así como cualquier
        utilización indebida de su Web ejerciendo todas las acciones civiles y penales que le puedan corresponder en
        Derecho.</p>
      <p>&nbsp;</p>
      <p>CORREDOR EMPRESARIAL&nbsp;&nbsp;S.A podrá modificar en cualquier momento las condiciones aquí determinadas,
        siendo debidamente publicadas como aquí aparecen. La vigencia de las citadas condiciones irá en función de su
        exposición y estarán vigentes hasta que sean modificadas por otras debidamente publicadas.</p>
      <p>&nbsp;</p>
      <h3><strong>Ley aplicable y jurisdicción</strong></h3>
      <p>&nbsp;</p>
      <p>Las presentes Condiciones Generales se rigen por la Ley colombiana. Para la resolución de todas las controversias
        o cuestiones relacionadas con la presente Web o de las actividades en ella desarrolladas, CORREDOR
        EMPRESARIAL&nbsp;&nbsp;S.A y el Usuario, con renuncia expresa a cualquier otro fuero, aceptan como legislación
        rectora de las presentes condiciones la colombiana, y para la resolución de cuantas controversias o litigios
        pudieran derivarse acuerdan someterse a la jurisdicción de los Juzgados y Tribunales de la ciudad de Bogotá
        (Colombia)</p>
    </div>
  </div>