<div id="update-mdoal">
    <h1 mat-dialog-title class="text-center font-weight-normal mb-0">Actualización de datos</h1>
    <mat-divider class="white_divider"></mat-divider>
    <br>
    <p>Estimado <b>BetPlayer</b>, te recordamos que si necesitas actualizar alguno de tus datos personales registrados en <b>BetPlay</b> puedes hacerlo iniciando sesión e ingresando a tu cuenta de usuario.</p>
    <div class="text-center">
        <button (click)="closeModal(true)" style="width:200px" class="btn btn-orange pr-3 pl-3 mb-3"><b>Actualizar</b></button>
        <button (click)="closeModal(false)" style="width:200px" class="btn btn-secondary ml-0 ml-md-3 mb-3"><b>No Actualizar</b></button>
    </div>
</div>