<div class="All-Bets-history container text-left p-3">
    <h2 class="ng-binding">Quiénes Somos</h2>
    <br>
    <div class="general-text-list">
      <p>BETPLAY&nbsp;es una marca creada por Corredor Empresarial, para operar apuestas, juegos de casino y
        slots&nbsp;vía online o presencial.</p>
      <p align="justify"><strong>Corredor Empresarial S.A</strong>., es una empresa que agrupa a los principales
        empresarios de apuestas en Colombia, desarrollada con base en la experiencia de sus integrantes lo cual nos
        permite estar a la vanguardia en el sector de juegos y apuestas a nivel nacional lo cual se ha logrado gracias a
        la explotación del producto Súper Astro, que nos ha permitido una participación importante dentro del sector
        colocándonos dentro del mercado competitivamente y abriendo las puertas para ofrecer un excelente portafolio de
        servicios.</p>
      <p align="justify">En el 2009 logramos la cristalización de la comercialización del producto súper astro trayendo
        beneficios a nuestra entidad que solo existe para unir, agremiar y generar beneficios a través de nuestra
        asociación.</p>
    </div>
</div>