.poker-banner
    max-height: 400px;
.poker-page
    position relative
.text-poker
    color: #747474;
    text-decoration: none
.header-poker
    background:#111;
    color: #FFF;
    .content-logo-poker
        max-width 200px;
        margin-right: auto;
.btn-gold
    background: rgb(159,117,74);
    background: linear-gradient(0deg, rgba(159,117,74,1) 0%, rgba(235,196,143,1) 100%);
    color: #0f1214;
    border: 0;
    border-radius: 20px;
    padding: .5em 1em;
    min-width: 150px;
    font-weight: bold;
    cursor:pointer
.btn-white-poker
    cursor pointer
    background: rgb(193,182,165);
    background: linear-gradient(0deg, rgba(193,182,165,1) 0%, rgba(245,243,240,1) 66%, rgba(255,255,255,1) 93%);
    color: #0f1214;
    border: 0;
    border-radius: 20px;
    padding: .5em 1em;
    min-width: 150px;
    font-weight: bold;
.footer-poker
    background: #111;
    color: #747474
.button-poker-big
    background: rgb(28,28,28);
    justify-content: center;
    display: flex;
    flex-direction: column;
    height 150px;
    border-top: 8px solid #c2b6a5;
.button-poker-big:hover
    cursor pointer
    border-top: 8px solid #dcb481;
.poker-divider-footer
    border-top: 5px solid #303030;
    margin: 0;
.modal-cash
    position: absolute;
    right: 10%;
    top: 10%;
    background: rgb(27,27,27);
    background: linear-gradient(0deg, rgba(27,27,27,1) 0%, rgba(51,51,51,1) 100%, rgba(245,243,240,1) 100%);
    border-radius: 10px;
    color: #737373;
    z-index 2;
.header-modal-poker
    background: #313131;
    padding: .5em 1em;
    border-bottom: 1px solid #656565;
    font-weight: bold;
iframe
    width: 100%;
    height: 100vh;