<div class="All-Bets-history container text-left p-3">
    <h1 class="ng-binding"><strong>Política de Cookies</strong></h1>
    <div class="general-text-list">
      <p>Utilizamos cookies con el fin de ofrecerte un servicio personalizado e individualizado. A continuación te
        detallamos toda la información relativa a cookies: qué son, cuándo y cómo las usamos, el tipo de cookies que
        utilizamos, su finalidad y la forma que tienes de desactivarlas o eliminarlas.</p>
      <p>&nbsp;</p>
      <h3>Qué son las cookies</h3>
      <p>Las cookies son pequeños archivos de texto que se almacenan en el navegador de tu dispositivo y nos permiten
        reconocerlos cada vez que nos visites.</p>
      <p>&nbsp;</p>
      <h3>Cuándo las usamos</h3>
      <p>Dependiendo de lo que hagas en este Sitio utilizamos unas cookies u otras. Por ejemplo, cuando estás de visita en
        el Sitio utilizamos cookies analíticas para saber de dónde vienes o cuando entras en tu cuenta utilizamos cookies
        para validar y mantener tu sesión.</p>
      <p>&nbsp;</p>
      <h3>Qué cookies utilizamos</h3>
      <p>Existen diferentes tipos de cookies. A continuación te las clasificamos por categorías para que las conozcas
        mejor:</p>
      <p>&nbsp;</p>
      <p><strong>Cookies según la entidad que las gestione:</strong></p>
      <p>&nbsp;</p>
      <p><strong>Cookies propias:</strong> Las que enviamos a tu dispositivo desde un servidor o dominio gestionado por
        nosotros y desde el que se presta el servicio que has solicitado.</p>
      <p><strong>Cookies de terceros:</strong> También se envían a tu dispositivo desde un servidor o dominio gestionado
        por nosotros pero la información recogida es gestionada por un tercero.</p>
      <p>&nbsp;</p>
      <p><strong>Cookies según el plazo de tiempo que permaneces activadas:</strong></p>
      <p>&nbsp;</p>
      <p><strong>Cookies de sesión</strong> Estas son accesibles y almacenan información sólo mientras mantienes tu sesión
        activa.</p>
      <p><strong>Cookies persistentes</strong> Al revés del caso anterior la información es almacenada y accesible durante
        un periodo de tiempo definido.</p>
      <p>&nbsp;</p>
      <p><strong>Cookies según su finalidad:</strong></p>
      <p>&nbsp;</p>
      <p><strong>Cookies técnicas</strong> Son las que nos permiten utilizar diferentes opciones o servicios como, por
        ejemplo, identificar tu sesión, realizar el proceso de una apuesta o utilizar elementos de seguridad durante tu
        navegación.</p>
      <p><strong>Cookies de personalización:</strong> Con ellas podemos utilizar diferentes características en nuestros
        servicios, como por ejemplo, cambiar de idioma.</p>
      <p><strong>Cookies de análisis:</strong> Las que utilizamos para el seguimiento y análisis de tu comportamiento en
        el sitio, con el fin de mejorar tu experiencia de usuario.</p>
      <p>A continuación te resumimos en un cuadro las cookies que utilizamos en BetPlay:&lt;/&gt;</p>
      <p>En el sitio encontrarás enlaces a otros sitios. Es importante que recuerdes que estos otros sitios web utilizan
        sus propias cookies y políticas de privacidad. En caso de que decidas utilizar estos sitios de terceros te
        recomendamos que leas antes su política de privacidad y de cookies.</p>
      <p>&nbsp;</p>
      <h3>Cómo desactivar o eliminar las cookies instaladas</h3>
      <p>La mayoría de los navegadores están configurados para aceptar las cookies de forma automática. Sin embargo,
        puedes configurar tu navegador para que te avise antes de instalar una cookie y así puedas aceptar o denegar su
        instalación. En el menú de ayuda de tu navegador podrás consultar las instrucciones y manuales para ampliar esta
        información. Adicionalmente, te facilitamos los siguientes enlaces que incluyen información práctica sobre cómo
        gestionar las cookies en los navegadores más utilizados:</p>
      <p>Firefox: <a
          href="https://support.mozilla.org/es/kb/habilitar-y-deshabilitar-cookies-que-los-sitios-we">https://support.mozilla.org/es/kb/habilitar-y-deshabilitar-cookies-que-los-sitios-we
        </a></p>
      <p>Google Chrome: <a
          href="https://support.google.com/chrome/answer/95647?hl=es">https://support.google.com/chrome/answer/95647?hl=es</a>
      </p>
      <p>Internet Explorer: <a
          href="http://windows.microsoft.com/es-ES/windows-vista/Block-or-allow-cookies">http://windows.microsoft.com/es-ES/windows-vista/Block-or-allow-cookies</a>
      </p>
      <p>Safari: <a href="https://support.apple.com/es-es/HT201265">https://support.apple.com/es-es/HT201265</a></p>
      <p>Es importante que recuerdes que en caso de impedir la entrada de cookies es posible que algunas de las funciones
        del sitio dejen de tener efecto, ya que dependen de la información almacenada en las mismas.</p>
      <p>Si quieres saber más sobre cómo gestionamos tu privacidad visita nuestra <a target="_blank"
          href="https://cempresarial.co/SIGO-GE-PPD-DG-05PoliticaTratamientoDatosPersonalesCEV4202012SIGO.pdf">Política de protección de datos personales</a>.</p>
    </div>
  </div>