<div class="All-Bets-history container p-3 text-left">
    <h1 class="ng-binding">Juego Responsable</h1>
    <div class="general-text-list">
      <p>En esta sección encontrarás un conjunto de consejos, herramientas y recursos que te ayudarán a gestionar tu
        actividad de juego y practicar así un juego responsable.</p>
      <p>Primeramente te ofrecemos una serie de <strong>consejos básicos</strong> para la práctica de un juego
        responsable. Posteriormente, te detallamos una serie de <strong>herramientas y servicios</strong> que ponemos a tu
        disposición como la autoexclusión,&nbsp;los límites de depósito, el historial de juego y la gestión del tiempo
        dedicado al juego. Y, por último, encontrarás un <strong>listado de recursos</strong> como un test de
        autoevaluación, los directorios de centros de ayuda y los recursos para control parental.</p>
      <p>Si necesitas más información sobre juego responsable,&nbsp;puedes ponerte en contacto con nosotros e intentaremos
        ayudarte en la medida de lo posible.</p>
      <p>&nbsp;</p>
      <h3><strong>Consejos para que practiques un juego responsable</strong></h3>
      <p>&nbsp;</p>
      <p>Jugar es un entretenimiento y no una forma de ganar dinero.</p>
      <p>Controla el dinero y el tiempo que dedicas a jugar.</p>
      <p>Solamente juega con el dinero que estás dispuesto a perder de acuerdo con tus circunstancias personales y
        económicas, no más.</p>
      <p>Evita jugar más para intentar recuperar el dinero que hayas perdido.</p>
      <p>No juegues bajo los efectos del alcohol, medicamentos, en momentos de decaimiento anímico o en los que te estés
        recuperando de alguna adicción.</p>
      <p>Asegúrate de que has completado todas tus responsabilidades diarias antes de empezar a jugar. No permitas que el
        juego interfiera en tu vida diaria.</p>
      <p>Si sospechas que tienes algún problema con el juego, háblalo con alguien. En la sección ‘Centros de Ayuda’, que
        encontrarás más adelante, te incluimos un listado con los sitios donde pueden ayudarte.</p>
      <p>Recuerda que puedes controlar o restringir el acceso a sitios de juego mediante el uso de herramientas. En la
        sección ‘Control Parental’ encontrarás un listado de dichas herramientas.</p>
      <p>&nbsp;</p>
      <h3><strong>Autoexclusión</strong></h3>
      <p>&nbsp;</p>
      <p>La autoexclusión es un servicio orientado a restringir tu acceso a este sitio de forma temporal.</p>
      <p>Durante el tiempo que dure la autoexclusión no podrás:</p>
      <p>Participar en ninguno de nuestros juegos.</p>
      <p>Depositar ni retirar fondos en tu cuenta.</p>
      <p>Recibir noticias ni comunicaciones comerciales por nuestra parte.</p>
      <p>Crear una nueva cuenta de usuario.</p>
      <p>Ten en cuenta que una vez fijado el tiempo y aceptada la autoexclusión por tu parte, no se podrá reabrir tu
        cuenta hasta que el periodo indicado haya finalizado.</p>
      <p>Por ejemplo, si decides autoexcluirte por un periodo de 5 días, no podrás entrar en tu cuenta de usuario hasta
        pasados esos 5 días.</p>
      <p>Si deseas la readmisión, en el caso de cualquier autoexclusión, tendrás que ser tú quien lo solicite de manera
        explícita.</p>
      <p>Una vez pasado el tiempo de autoexclusión tu cuenta se reactivará de forma automática.</p>
      <p>Para solicitar el servicio de autoexclusión ponte en contacto con nuestro departamento de atención al cliente o
        solicítalo directamente en el apartado de ‘Autoexclusión’, dentro de la sección ‘Juego Responsable’ de tu cuenta
        de usuario. Por favor, recuerda que para activar el servicio de Autoexclusión no puedes tener apuestas pendientes
        ni saldo en tu cuenta. Por tanto, antes de activar el servicio deberás esperar a que se resuelvan todas las
        apuestas pendientes y retirar todo tu dinero.</p>
      <p>Adicionalmente te recomendamos que, durante el periodo de autoexclusión, elimines la recepción de nuestras
        notificaciones en tu móvil y, en caso de que nos sigas a través de redes sociales, tomes las medidas oportunas
        para asegurarte de no recibir ninguna noticia por nuestra parte. Además, si mantienes cuentas de juego en otros
        sitios, te recomendamos que hagas lo propio y solicites la Autoexclusión de esos sitios también.</p>
      <p>&nbsp;</p>
      <h3><strong>Límites de depósito</strong></h3>
      <p>&nbsp;</p>
      <p>Por defecto tienes asignados los siguientes límites de depósito:</p>
      <p>$ 3.600.000 diarios (de las 00:00h a las 24:00h).</p>
      <p>$ 9.000.000 semanales (de las 00:00h del lunes a las 24:00h del domingo).</p>
      <p>$ 18.000.000 mensuales (de las 00:00h del primer día del mes a las 24:00h del último día del mes).</p>
      <p>Esto significa que el límite máximo de dinero que puedes depositar en un día es de $ 3.600.000 , en una semana es de $ 9.000.000 y en un mes es de $ 18.000.000. Si quieres depositar más dinero, el sistema no te dejará a menos que nos solicites una ampliación de estos límites o la eliminación de los mismos. Para ello, debes ir a la sección ‘Juego Responsable’, dentro de tu cuenta de usuario y seleccionar ‘Auto límites del jugador’.</p>
      <p>&nbsp;</p>
      <p>Puedes solicitar aumentar o reducir tus límites respecto a lo que ya tengas fijados. Aquí se producen varias casuísticas que seguidamente te explicamos:</p>
      <p>&nbsp;</p>
      <p>Si decides reducir tus límites respecto a los que tienes fijados, la aplicación de los nuevos límites se produce de forma inmediata. Por ejemplo, si quieres reducir tu límite diario de $ 3.600.000 a $ 1.700.000, el nuevo límite de $ 1.700.000 se aplicará de forma inmediata.</p>
      <p>&nbsp;</p>
      <p>Si decides ampliar tus límites, la aplicación de los nuevos límites no es inmediata. Los nuevos límites entrarán en vigor pasados 7 días desde la solicitud de la ampliación.</p>
      <p>&nbsp;</p>
      <h3><strong>Historial de juego</strong></h3>
      <p>&nbsp;</p>
      <p>Puedes conocer tu activad de juego accediendo a tu historial de actividad, donde podrás consultar tus depósitos,
        retiradas, participación en juegos y premios obtenidos, en diferentes periodos de tiempo.</p>
      <p>Para acceder a tu historial de actividad debes ir a la sección ‘Historial’, dentro de tu cuenta de usuario.</p>
      <p>&nbsp;</p>
      <h3>Gestión del tiempo dedicado al juego</h3>
      <p>En la Web encontrarás diferentes indicadores que te ayudarán a gestionar el tiempo que dedicas a jugar.</p>
      <p>En el momento que inicias una nueva sesión de juego, aparece un indicador con el tiempo de sesión actual. De esta
        forma podrás saber en todo momento el tiempo que llevas jugando. Este indicador se reinicia cada vez que inicias
        una nueva sesión. Sin embargo, en la sección ‘Mis datos’, dentro de tu cuenta de usuario, aparece indicada la
        fecha y hora de la última sesión que iniciaste.</p>
    </div>
    <p><strong>Test de Autoevaluación</strong><br>
      A continuación encontrarás un breve test de autoevaluación que es propiedad de la Dirección General de Ordenación
      del Juego en España a modo de referencia.</p>
    <p>&nbsp;</p>
    <p>1. ¿Se encuentra a menudo recordando experiencias pasadas de juego, planificando la próxima vez que va a jugar y/o
      se plantea formas de conseguir dinero con el que jugar?</p>
    <p>• Sí.</p>
    <p>• No.</p>
    <p>&nbsp;</p>
    <p>2. ¿Ha jugado alguna vez más dinero de lo que tenía pensado?</p>
    <p>• Sí.</p>
    <p>• No.</p>
    <p>&nbsp;</p>
    <p>3. ¿Intenta controlar, interrumpir o detener el juego?</p>
    <p>• Sí.</p>
    <p>• No.</p>
    <p>&nbsp;</p>
    <p>4. ¿El intento de interrumpir o detener el juego le produce inquietud o irritabilidad?</p>
    <p>• Sí.</p>
    <p>• No.</p>
    <p>&nbsp;</p>
    <p>5. ¿Juega para evadirse de algún problema?</p>
    <p>• Sí.</p>
    <p>• No.</p>
    <p>&nbsp;</p>
    <p>6. Cuando usted se juega dinero, ¿vuelve otra vez a jugar para recuperar el dinero perdido?</p>
    <p>• Sí.</p>
    <p>• No.</p>
    <p>&nbsp;</p>
    <p>7. ¿Cree usted que tiene algún problema con el juego?</p>
    <p>• Sí.</p>
    <p>• No.</p>
    <p>&nbsp;</p>
    <p>8. ¿Financia su actividad de juego mediante dinero familiar, préstamo, falsificación, fraude o robo?</p>
    <p>• Sí.</p>
    <p>• No.</p>
    <p>&nbsp;</p>
    <p>9. ¿Ha perdido alguna vez tiempo de trabajo o de clase debido al juego?</p>
    <p>• Sí.</p>
    <p>• No.</p>
    <p>&nbsp;</p>
    <p>10. ¿Ha acudido a alguien para que le ayude con sus problemas económicos producidos por el juego?</p>
    <p>• Sí.</p>
    <p>• No.</p>
  </div>