.virtualGame
    position relative
    .virutal-wrapper
        transition: 2s;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        min-height: 210px;
.virtualGame:hover
    .virutal-wrapper
        position: absolute;
        height: 150%;
        width: 120%;
        z-index: 1;
        left: -10%;
        top: -30%;
        transition: 2s;
    .virtuales-footer
        display: flex !important;
        position absolute
        bottom: 0
        left: 0
        width: 100%;
.content-title-virtuales
    padding: 1em;
    font-weight: bold;
    color: #FFF;
    background: #222221;
    font-size: 1.3em;
.content-icon-virtuales
    background: #248b21;
    padding: 1em;
    text-align: center;
    font-size: 1.3em;
    img
        max-width: 25px;
        max-height: 25px;
.content-play-virtuales
    background: #e95a5b;
    color:#FFF;
    padding: 1em;
    font-weight: bold;
    text-align: center;
    font-size: 1.3em;
.image-game-virtuales
    max-width: 100%;
    max-height: 200px;