<div class="row m-0 content-sports h-100 d-md-inline-block">
    <div class="col col-2 col-md-12">
        <a href="/apuestas#filter/football">
            <img src="../../../assets/img/home/soccer.png" alt="">
        </a>
    </div>

    <div class="col col-2 col-md-12">
        <a href="/apuestas#filter/basketball">
            <img src="../../../assets/img/home/bascketball.png" alt="">
        </a>
    </div>
    
    <div class="col col-2 col-md-12">
        <a href="/apuestas#filter/baseball">
            <img src="../../../assets/img/home/baseball.png" alt="">
        </a>
    </div>
    
    <div class="col col-2 col-md-12">
        <a href="/apuestas#filter/table_tennis">
            <img src="../../../assets/img/home/pingpong.png" alt="">
        </a>
    </div>
    
    <div class="col col-2 col-md-12">
        <a href="/apuestas#filter/american_football">
            <img src="../../../assets/img/home/football.png" alt="">
        </a>
    </div>
    
    <div class="col col-2 col-md-12">
        <a href="/apuestas#filter/cycling">
            <img src="../../../assets/img/home/bikes.png" alt="">
        </a>
    </div>
    
    <div class="col col-2 col-md-12">
        <a href="/apuestas#filter/volleyball">
            <img src="../../../assets/img/home/volleyball.png" alt="">
        </a>
    </div>
    
    <div class="col col-2 col-md-12">
        <a href="/apuestas#filter/motorsports">
            <img src="../../../assets/img/home/races.png" alt="">
        </a>
    </div>
    
    <div class="col col-2 col-md-12">
        <a href="/apuestas#filter/ice_hockey">
            <img src="../../../assets/img/home/hockey.png" alt="">
        </a>
    </div>
    
    <div class="col col-2 col-md-12">
        <a href="/apuestas#filter/golf">
            <img src="../../../assets/img/home/golf.png" alt="">
        </a>
    </div>
    
</div>