<div class="p-3 text-center">
    <p class="text-blue font-weight-bold">{{title}}</p>
    <mat-divider class="white_divider"></mat-divider>
    <br>
    <div class="row m-0">
        <p class="text-center w-100">
            {{message}}
        </p>
    </div>
    <div class="contentButtons row m-0">
        <div class="col-12 col-md-6 mt-3 mt-md-0">
          <button (click)="toggleChat()" class="w-100 btn btn-orange">Hablamos por chat</button>
        </div>
        <div class="col-12 col-md-6 mt-3 mt-md-0">
          <button (click)="toggleWeCallYou()" class="w-100 btn btn-orange">Nosotros te llamamos</button>
        </div>
      </div>
</div>
