<div class="row m-0 content-sports casino h-100 d-md-inline-block">
    
    <div (click)="emitLink(0)" class="col col-2 col-md-12 flex-column text-white justify-content-center">
        <img src="../../../../assets/img/slots/top.png">
        <p>TOP</p>
    </div>

    <div (click)="emitLink(4)" class="col col-2 col-md-12 flex-column text-white justify-content-center">
        <img src="../../../../assets/img/slots/favorite.png">
        <p>FAVORITO</p>
    </div>
    
    <div (click)="emitLink(1)" class="col col-2 col-md-12 flex-column text-white justify-content-center">
        <img src="../../../../assets/img/slots/new.png">
        <p>NUEVO</p>
    </div>
    
    <div (click)="emitLink(2)" class="col col-2 col-md-12 flex-column text-white justify-content-center">
        <img src="../../../../assets/img/slots/casino.png">
        <p>CASINO</p>
    </div>

    <div (click)="emitLink(3)" class="col col-2 col-md-12 flex-column text-white justify-content-center">
        <img src="../../../../assets/img/slots/slots.png">
        <p>SLOTS</p>
    </div>
    
</div>