.smartbanner.smartbanner-android
    background: #15356f;
    left: 0;
    top: 0;
    // display: none;
    width: 100%;
    font-family: Helvetica Neue,sans-serif;
    z-index: 10;
    -webkit-font-smoothing: antialiased;
    overflow: hidden;
    -webkit-text-size-adjust: none;
    position: relative;
    padding: .5em;
    .smartbanner-container
        white-space: nowrap;
    .smartbanner-button 
        min-width: 12%;
        color: #d1d1d1;
        background: #fc5500!important;
        border-radius: 0;
        position: absolute;
        right: 20px;
        top: 0;
        bottom: 0;
        margin: auto 0;
        height: fit-content;
        font-size: 14px;
        text-align: center;
        font-weight: 700;
        color: #6a6a6a;
        // text-transform: uppercase;
        font-weight: bold;
        text-decoration: none;
        padding: .5em;
        background-color: #facd01 !important;
        color: #15356f !important;
        border: 0;
        border-radius: 5px;
    .smartbanner-show .smartbanner
        display: block;
    .smartbanner-info
        color: #ccc;
        text-shadow: 0 1px 2px #000;
        display: inline-block;
        vertical-align: middle;
    .smartbanner-title 
        color: #fff;
        font-weight: 700;
        font-size: 13px;
    .smartbanner-icon
        background-color: transparent;
        box-shadow: none;
        width: 70px;
        height: 57px;
        margin-right: 12px;
        background-size: cover;
        display: inline-block;
        vertical-align: middle;
        background-position: center;
        border-radius: 10px;
        background-size: 100%;
        background-repeat: no-repeat;
        margin-left: 1em;
    .smartbanner-close
        border: 0;
        width: 17px;
        height: 17px;
        line-height: 17px;
        margin-right: 7px;
        color: #b1b1b3;
        background: #1c1e21;
        text-shadow: 0 1px 1px #000;
        box-shadow: inset 0 1px 2px rgba(0,0,0,.8), 0 1px 1px hsla(0,0%,100%,.3);
        display: inline-block;
        vertical-align: middle;
        margin: 0 5px;
        font-family: ArialRoundedMTBold,Arial;
        font-size: 20px;
        text-align: center;
        color: #888;
        text-decoration: none;
        border: 0;
        border-radius: 14px;
        -webkit-font-smoothing: subpixel-antialiased;