<div class="All-Bets-history container text-left p-3">
    <p class="float-right"><b>Fecha de Actualización: 25/06/2020</b></p>
    <h1><strong>Política de Privacidad y Protección de los Datos Personales</strong></h1>
    <p>&nbsp;</p>
    <p>CORREDOR EMPRESARIAL S.A, identificada con NIT 900.243.000-8, domiciliada en Bogotá, en la Avenida Calle 26 No 69D – 91 oficina 802 Centro Empresarial Arrecife y sitio web <a href="https://www.cempresarial.co/">https://www.cempresarial.co/</a> (en adelante, “CE” o “nosotros”), es el Responsable del Tratamiento de la Base de Datos de los Usuarios de BetPlay y pone en conocimiento a los titulares que sus datos son tratados bajo la Política de Privacidad y Protección de Datos Personales, (en adelante, la “Política”), que podrá ser consultada en su totalidad en <a href="https://www.cempresarial.co/SIGO-PPD-DG-01-Politica-y-Procedimientos-TDP-V3-201905-(SIGO).pdf">https://www.cempresarial.co/SIGO-PPD-DG-01-Politica-y-Procedimientos-TDP-V3-201905-(SIGO).pdf</a> dando cumplimiento a lo establecido en la Ley 1581 de 2012, al Decreto 1377 de 2013 y demás documentos normativos relacionados.</p>
    <p>El propósito principal de esta política es informarle del contenido de la misma, para que conozca cómo trataremos los datos personales que nos facilite y se informe los derechos de los Titulares, dando a conocer el alcance y la finalidad del tratamiento al cual serán sometidos los Datos Personales, en caso de que el Titular otorgue su autorización expresa, previa e informada.</p>
    <p>Es importante que lea y acepte esta Política, de lo contrario no podremos ofrecerle nuestros servicios de navegación y juego, por consiguiente, no sería posible el registro en nuestra plataforma.</p>
    <p>Sí decide aceptar nuestra Política, los datos que suministre en el formulario deberán ser veraces, y siendo responsable de comunicar cualquier modificación de los mismos, quedando CE exenta de cualquier tipo de responsabilidad al respecto. CE se reserva el derecho a excluir de los servicios registrados a todo Usuario que haya facilitado datos falsos, sin perjuicio de las demás acciones que procedan legalmente.</p>
    <p><strong>Objetivo de la Política de Privacidad y Protección de los Datos Personales:</strong></p>
    <p>La Política describe las prácticas de tratamiento de los datos personales que los Usuarios proporcionan voluntariamente o que se obtienen mediante la navegación en la Web, es decir, mientras navegue por este Sitio y utilice los servicios de juego ofrecidos accederemos a sus datos de carácter personal. </p>
    <p>A continuación, se describe el proceso de recolección, uso o tratamiento de los datos personales:</p>
    <p><strong>Recolección de sus Datos Personales:</strong></p>
      <ol>
        <li>A través del Formulario de Registro</li>
        <li>Por los canales de servicio al cliente para la atención de PQR´s BetPlay.</li>
        <li>Por el canal de atención de protección de datos personales de CE</li>
        <li>En el momento de retiro de dinero en los puntos de venta autorizados.</li>
        <li>Al diligenciar el Formato Solicitud BetPlay</li>
        <li>Al responder encuestas de satisfacción de clientes.</li>
      </ol>

    <p>Estos datos pueden ser recolectados por la compañía directamente del Titular a través de cualquier canal de comunicación tales como, telefónicos, electrónicos (SMS, chat, correo electrónico y demás medios considerados electrónicos) físicos y/o personales.</p>
    
    <p><strong>Uso o tratamiento de sus Datos Personales:</strong></p>
    <p>Se le solicitarán una serie de datos personales, necesarios para que podamos dar cumplimiento al Contrato de Juego suscrito entre ambas partes y, en especial, para que pueda:</p>
    <ul>
      <li>Acceder y participar en los juegos ofrecidos en este sitio.</li>
      <li>Por los canales de servicio al cliente para la atención de PQR´s BetPlay.</li>
      <li>Por el canal de atención de protección de datos personales de CE</li>
      <li>En el momento de retiro de dinero en los puntos de venta autorizados.</li>
      <li>Al diligenciar el Formato Solicitud BetPlay</li>
      <li>Al responder encuestas de satisfacción de clientes.</li>
    </ul>

    <p>Estos datos pueden ser recolectados por la compañía directamente del Titular a través de cualquier canal de comunicación tales como, telefónicos, electrónicos (SMS, chat, correo electrónico y demás medios considerados electrónicos) físicos y/o personales.</p>
    
    <p><strong>Uso o tratamiento de sus Datos Personales:</strong></p>

    <p>Se le solicitarán una serie de datos personales, necesarios para que podamos dar cumplimiento al Contrato de Juego suscrito entre ambas partes y, en especial, para que pueda:</p>
    <ul>
      <li>Acceder y participar en los juegos ofrecidos en este sitio.</li>
      <li>Gestionar su cuenta y participación en los juegos.</li>
      <li>Utilizar el servicio de atención al cliente para reclamaciones o solicitud de información.</li>
      <li>Cobrar sus premios.</li>
      <li>Activar el servicio de auto-exclusión.</li>
      <li>Atender los requerimientos de información.</li>
      <li>Obtener un servicio personalizado e individualizado.</li>
      <li>Jugar de forma segura y regulada.</li>
    </ul>

    <p>Además, debe saber que las llamadas telefónicas que realice o reciba de nuestro servicio de atención al cliente pueden ser grabadas por razones de seguridad, para la evaluación de nuestro personal, así como para poder resolver cualquier problema relacionado con el servicio recibido.</p>
    <p>Los datos relativos a la IP de conexión los utilizamos únicamente con el fin de verificar el ámbito geográfico de su conexión.</p>
    <p>Una vez diligenciado los campos del Registro, debe seleccionar la casilla de verificación que dice: “Acepto los Términos y Condiciones de Uso junto a las Políticas de Privacidad y confirmo no estar afectado por ninguna causa de prohibición subjetiva.  Así mismo, acepto recibir comunicaciones publicitarias y/o promocionales.” con esta aceptación remitiremos comunicaciones comerciales por cualquier medio (incluido correo electrónico, SMS y otros medios electrónicos) de nuestras campañas promocionales, ofertas especiales y productos y servicios.</p>
    <p>En el momento que desee no recibir más estas comunicaciones podrá solicitar la desactivación al email: protecciondedatos@cempresarial.co</p>
    <p>Este email debe tener en el asunto “BAJA COMUNICACIONES” y en el contenido del mensaje informar los siguientes datos para tramitar su solicitud:</p>
    <ul>
      <li>Nombre completo</li>
      <li>Número de documento de identidad</li>
      <li>Número de telefónico de contacto</li>
      <li>Correo electrónico</li>
      <li>Especifique su solicitud. (ejemplo:  eliminación de bases de datos promocionales)</li>
    </ul>
    <p>C.E. hará tratamiento de sus datos personales conforme a las siguientes finalidades:</p>
    <ol>
      <li>Proveer nuestros servicios o productos.</li>
      <li>Enviar comunicaciones e información relacionada con nuestros productos, servicios, ofertas, promociones, alianzas, estudios, concursos, contenidos, así como de empresas aliadas o colaboradoras, y para facilitarle el acceso general a la información de estos.</li>
      <li>Dar cumplimiento a obligaciones contraídas con nuestros: a. Clientes, b. Beneficiarios, c. Empleados, d. Colaboradores, e. Proveedores y demás personas relacionadas con las actividades empresariales de CORREDOR EMPRESARIAL S.A.</li>
      <li>Evaluar la calidad de los productos o servicios.</li>
      <li>Realizar estudios sobre hábitos de consumo o comportamiento de mercado.</li>
      <li>Suministrar información comercial, publicitaria o promocional sobre los productos y/o servicios, eventos y/o promociones de tipo comercial o no de estas, con el fin de impulsar, invitar, dirigir, ejecutar, informar y de manera general, llevar a cabo campañas, promociones o concursos de carácter comercial o publicitario.</li>
      <li>Compartir, incluyendo la transferencia y transmisión de sus datos personales a terceros países para los fines relacionados con la operación.</li>
    </ol>

    <p><strong>Acceso a los Datos</strong></p>
    <p>En CE, hemos adoptado las medidas de seguridad exigidas por la normativa vigente y que resultan necesarias para asegurar la confidencialidad, disponibilidad e integridad en el tratamiento de sus datos personales a los que tengamos acceso.</p>
    <p>Como norma general, ningún tercero ajeno al Responsable del Fichero podrá acceder en ningún caso a sus datos personales sin su consentimiento, salvo las entidades consideradas encargadas del tratamiento, las cuales necesitan acceder para prestar los servicios contratados.</p>
    <p>CE deberá comunicar sus datos personales a otras entidades privadas y organismos públicos para cumplir las obligaciones derivadas del Contrato de Juego y la normativa vigente. Así, por ejemplo, cederemos sus datos:
      A entidades financieras para realizar operaciones de cobros que nos haya autorizado o de pago de premios.</p>

    <p>A COLJUEGOS, en cumplimiento de la normativa aplicable. Igualmente podremos ceder los datos para los fines descritos bajo el apartado “Uso o tratamiento de sus Datos Personales” a otras sociedades Colaboradores o aliados de CORREDOR EMPRESARIAL S.A, todas ellas ubicadas en Colombia.</p>
    <p><strong>Derechos del Titular de Datos Personales</strong></p>

    <p>La normativa de Protección de Datos le reconoce la posibilidad de ejercer derechos de acceso, rectificación, cancelación y oposición. Para ejercitarlos, puede enviar un correo electrónico a la dirección protecciondedatos@cempresarial.co perteneciente a CORREDOR EMPRESARIAL S.A o ponerse en contacto con nosotros por correo ordinario en el domicilio señalado en esta Política. En todo caso, deberá acompañar su petición de una copia de su documento de identidad.</p>
    <p>Los Titulares de los datos personales cuyo tratamiento realiza CE, tienen derecho a:</p>
    <p>a) Acceder a los datos personales.</p>
    <p>b) Conocer, y solicitar la rectificación de los datos personales.</p>
    <p>c) Solicitar prueba de la autorización otorgada al Responsable del tratamiento.</p>
    <p>d) Presentar ante la Superintendencia de Industria y Comercio quejas por infracciones a lo dispuesto en la Ley 1581 de 2012, en el Decreto 1377 de 2013 y en las demás normas que los modifiquen, adicionen o complementen;</p>
    <p>e) Revocar la autorización y/o solicitar la supresión del dato cuando en el tratamiento no se respeten los principios, derechos y garantías constitucionales y legales.</p>
    
    <p>Para el resto de solicitudes del producto BetPlay están disponibles los siguientes canales de atención:</p>

    <p>Chat en la página www.betplay.com.co</p>
    <p>Correo electrónico: ayuda@betplay.com.co</p>
    <p>Para solicitar el Cierre Definitivo de la cuenta BetPlay</p>
    <p>Se debe diligenciar en su totalidad el formato de solicitud BetPlay, el cual se puede descargar en el link <a href="https://betplay.com.co/static/formato-de-solicitud">https://betplay.com.co/static/formato-de-solicitud</a> y enviarlo firmado con copia de la cédula al 150% a los canales de atención mencionados.</p>
    <p><strong>Área Responsable Atención de Consultas o Reclamos de Protección Datos Personales</strong></p>
    <p>El área responsable de dar trámite a las consultas o reclamos y en general frente a la atención del titular con ocasión a la aplicación y vigencia del presente documento es la GERENCIA OFICIAL DE CUMPLIMIENTO, remitiendo sus solicitudes al correo protecciondedatos@cempresarial.co</p>
  </div>