.content_callback
    position fixed
    right: 1em
    bottom: 0
    z-index: 10;
    background: #FFF;
    min-width: 500px;
    max-width: 700px;
    .callback_header
        padding: .5em 1em;
        color: #FFF;
        background: #002460;
        font-size: 1.5em;
    .text-blue-primary
        color:#002460
    input
        height: 35px;
        border: 1px solid #CCC;
    .check_CB
        max-width: 20px;
        padding-right: 0;
        margin-top: 3px;
    .content-message
        textarea
            height: 35px;
            width: 100%;
            resize: none;
            border: 1px solid #CCC;
        button 
            color: #fff;
            background: #01ae42;
            height: 40px;
            border: 1px solid #01ae42;
            width: 100%;
            font-weight: bold;
            i
                font-size: 1.5em
    

@media (max-width: 800px) 
    .content_callback
        bottom: unset !important;
        right: unset !important;
        left: 0 !important;
        top: 0 !important;
        max-width: 100% !important;
        width: 100% !important;
        min-width: auto !important;
        height: 100% !important;
    .body_callback
        overflow: auto;
        max-height: 100vh;
        padding-bottom: 4em;
