<footer class="bet-footer">
  <div class="container">
    <div class="p-3">
      <div class="row m-0">
        <div class="col-12 col-md-5">
          <app-footer-nav></app-footer-nav>
        </div>
        <div class="col-12 col-md-7">
          <hr class="d-block d-md-none" />
          <app-contact-sn></app-contact-sn>
        </div>
      </div>
    </div>
  </div>

  <div class="d-block d-md-none bp-mobile">
    <app-payment-methods></app-payment-methods>
  </div>

  <app-payment-methods class="d-none d-md-block mb-3"></app-payment-methods>
  <div class="container">
    <div class="content_coljuegos p-3">
      <app-footer-coljuegos></app-footer-coljuegos>
      <hr class="d-block d-md-none" />
      <br class="d-none d-md-block" />
      <app-footer-policy></app-footer-policy>
    </div>
  </div>
</footer>
