<div class="All-Bets-history text-left p-3">
<h3 class="ng-binding">Reclamaciones</h3>
    <div class="general-text-list">
        <p>El usuario podrá presentar una reclamación enviando un e-mail a la dirección <a
            href="mailto:ayuda@betplay.co">ayuda@betplay.com.co&nbsp;</a>o una comunicación postal a la dirección:</p>
        <p>&nbsp;</p>
        <p>Corredor Empresarial<br>
        <strong>Bogotá , Colombia</strong><br>
        Av Calle 26 No. 69D-91, Centro Empresarial Arrecife, Torre peatonal, Of. 802<br>
        <p>&nbsp;</p>
        <p><strong>En dicha reclamación, el&nbsp;usuario deberá indicar la siguiente información:</strong></p>
        <p>&nbsp;</p>
        <p>– Motivo de la reclamación.<br>
        – Nombre de Usuario del portal www.betplay.com.co<br>
        – En caso de que proceda, código identificador de la apuesta, partida o sesión de juego.</p>
        <p>&nbsp;</p>
        <p>El plazo máximo para la presentación de la reclamación será de tres meses contados desde&nbsp;la fecha de
        celebración del evento, sesión de juego, partida o hecho que la originó. Dicha&nbsp;reclamación será respondida
        por Betplay&nbsp;en el plazo máximo de un mes a contar desde&nbsp;que sea recibida.</p>
        <p>&nbsp;</p>
        <p>Betplay emitirá una comunicación al usuario en la que acusará recibo de la reclamación,&nbsp;informándole también
        del plazo en el que se le comunicará la decisión tomada al respecto.</p>
        <p>&nbsp;</p>
        <p>El plazo de caducidad de premios quedará interrumpido desde la fecha de recepción de la&nbsp;reclamación por
        Betplay hasta la fecha en que se hubiera comunicado su decisión al&nbsp;usuario.</p>
        <p>&nbsp;</p>
        <p>Resuelta la reclamación por Betplay o transcurrido un mes desde la presentación de la&nbsp;reclamación sin que
        Betplay haya comunicado su decisión, el usuario podrá formular&nbsp;reclamación ante Coljuegos.</p>
        <p>&nbsp;</p>
    </div>
</div>