.mat-drawer-container
    background-color:#c4e5f6
    height: 69em
.containerBaloto
    background: #fff;
    width: 93em;
    height: 54em;
    margin-top: 6em;
    margin-left: 9em;
    border-radius: 14px;
.logoBaloto
    width: 24em;
    margin-top: 5em;
    margin-left: 4em;
.pagoEfectivo
    margin-left: 1em;
    margin-top: 8px;
    position: absolute;
    font-size: 2em;
    color: #002361;
.borderGray
    border-bottom: 2px solid #dadada;
    z-index: 2;
    margin-left: 9em;
    margin-top: -50em;
    width: 93em;
.iconCambio
    margin-left: 45em;
    margin-top: -4px;
.cambiarMetodoDePago
    margin-left: 65em;
    margin-top: -6em;
    position: absolute;
    font-size: 14px;
    color: #00ad44;
    font-weight: bold;
    cursor: pointer;
    outline: none;
.containerInformation
    background: #f2f2f2;
    width: 80em;
    height: 21em;
    margin-top: 10em;
    margin-left: 16em;
    border-radius: 8px;
  h6:first-letter
    color: gray !important;
    font-size: 16px;
    margin-top: 2em;
    position: absolute;
    font-weight: bold;
  h6:second-letter
    color: gray !important;
    font-size: 16px;
    margin-top: 2em;
    position: absolute;
    font-weight: bold;
  h6
    color: #808080;
    font-size: 13px;
    width: 56em;
    margin-top: 4em;
.politicaDeSeguridad
    margin-top: 26em;
    position: absolute;
    margin-left: 30em;
    color: white;
    background: #00b5e6;
    height: 18px;
.checkbox
    margin-top: -1.8em;
    margin-left: 21.8em;
    position: absolute;
.generarNumeroDePago
    margin-left: 22em;
    background: #00ad44;
    color: white;
    outline: none;
    font-weight: bold;
    font-size: 15px;
    width: 15em;
    height: 2.3em;
    border: 1px solid;
    border-radius: 4px;
.politicaSeguridad
    margin-top: 27em;
    margin-left: 22em;
    color:  gray;
    font-weight: 100;
    font-size: 12px;
  .errorMsg
    background: #ee0000;
    color: white;
    width: 60%;
    height: 4em;
    margin-left: 22em;
   .matError
    color white;
.transaccion
    font-size: 24px;
    margin-left: 16px;
    margin-top: 7px;
.lineTransaccion
    border-bottom: #dadada 2px solid;
.fecha
    margin-left: 57em;
    margin-top: -2.5em;
    font-size: 12px;
    color: #808080;
    font-weight: bold;
.referenciaDePago
    margin-top: 2em;
    margin-left: 6em;
    font-size: 26px;
.logo-exclamacion
    margin-left: 47em;
    margin-top: -5.5em;
.logoRechazado
    margin-left: 50em;
    margin-top: -3.6em;
    position: absolute;
    width: 42px;
.diaFecha
    margin-left: 72.6em;
    margin-top: -2em;
    font-size: 10px
.containerMedioDePago
    height: 17em;
    border: #dadada 2px solid;
    width: -233em;
    border-radius: 9px;
    width: 49em;
    margin-left: 7em;
    z-index: 40
.medioDePagoRes
    color: #fff;
    background: #b3b3b3;
    height: 4em;
    width: 48.7em;
.textMedioDePago
    position: absolute;
    color: #fff;
    font-size: 17px;
    margin-top: 10px;
    margin-left: 19px;
    font-weight: bold;
.declined
    font-weight: bold;
    color: #757575;
    margin-top: 64px;
    margin-left: 14em;
    position: absolute;
    font-size: 17px;
.resumen
    margin-left: 67em;
    margin-top: -15.6em;
    background: #fff;
    width: 32.7em;
    height: 13.6em;
    position: absolute;
    border-radius: 7px;
  .resumenH2
    margin-top: 12px;
    width: 14em;
    position: absolute;
    margin-left: 1em;
    font-size: 21px;
.referencia
    margin-left: 19px;
    margin-top: 2em;
    position: absolute;
    font-size: 13px;
    font-weight: bold;
    color: #002361
.spanReferencia
    position: absolute;
    color: #002361;
    margin-left: 8em;
    margin-top: 2.2em;
.descripcion
    margin-left: 70em;
    position: absolute;
    margin-top: -19em;
    font-weight: bold;
    font-size: 13px;
    color: #002361;
.deposito
    position: absolute;
    margin-top: -20.5em;
    margin-left: 83em;
    width: 9em;
    color: #002361;
.totalPagar
    margin-top: -17em !important;
    margin-left: 70em;
    position: absolute;
    width: 27em;
    font-weight: bold;
    font-size: 13px;
    color: #002361;


@media (max-width:1000px){
  .containerBaloto
  {
    width: 70em;
    height: 60em;
    margin-left: 0em;
    margin-top: 2em;
  }
}
