<div class="row m-0 align-items-center">
  <div class="col-12 col-md-2 p-0">
    <div class="row m-0 align-items-center mb-3 mb-md-0">
      <div class="col-4 p-0 pl-3 pl-md-0">
        <a (click) = "gaEventFooterColjuegos('Juego Legal')" target="_blank" href="https://www.coljuegos.gov.co/"><img
          class="align-middle legal_game_logo"
          src="../../../../../assets/img/coljuegos/jugar_legal.png"
        /></a>
      </div>
      <div class="col-4 p-0">
        <img (click) = "gaEventFooterColjuegos('Mas 18')"
          style="max-width: 53px;"
          src="../../../../../assets/img/footer/18.png"
          alt=""
        />
      </div>
      <div class="col-4 p-0 pr-3 pr-md-0 text-right">
        <a (click) = "gaEventFooterColjuegos('Autoriza Coljuegos')" target="_blank" href="https://www.coljuegos.gov.co/"><img
          class="align-middle legal_game_logo"
          src="../../../../../assets/img/coljuegos/autoriza_coljuegos.png"
        /></a>
      </div>
    </div>
  </div>
  <div class="col" style="    padding-right: 4em;">
    <p class="legal_text">
      Betplay.com.co propiedad de CORREDOR EMPRESARIAL S.A., con domicilio
      principal en la ciudad de Bogotá – Colombia, Avenida Calle 26 # 69 D 91
      Oficina 802 Torre 2 Centro Empresarial Arrecife, autorizada en Colombia
      para operar los juegos de suerte y azar en la modalidad novedoso de tipo
      juegos operados por internet, según Contrato de Concesión No. C1444 del 11
      de septiembre 2017 con vencimiento el 18 de septiembre de 2022 suscrito
      con COLJUEGOS.
    </p>
  </div>
</div>
