.tabsPoker
    div
        padding: .5em;
        border-bottom: 3px solid #747474;
        color: #747474;
        cursor pointer
    div.active,
    div:hover
        border-bottom: 3px solid #e5bd89;
        color: #747474;
.balance-label
    color:#e5bd89;
.btn-white-poker
    cursor pointer
    background: rgb(193,182,165);
    background: linear-gradient(0deg, rgba(193,182,165,1) 0%, rgba(245,243,240,1) 66%, rgba(255,255,255,1) 93%);
    color: #0f1214;
    border: 0;
    border-radius: 20px;
    padding: .5em 1em;
    min-width: 150px;
    font-weight: bold;
.poker-input
    width: 100%;
    border: 2px solid #8a6541;
    background: transparent;
    color: #FFF;
    border-radius: 5px;
    margin-top: .5em;
    height: 40px;