<div class="row m-0 justify-content-justify">
    <div class="col-12 col-md-12" style="padding-right: 5em;">
        <div class="row show-grid contentLegales">
            <div class="footer_legales d-block d-md-flex col-md-12 p-0">
                <div class="mb-3 mb-md-0">
                    <a (click)="gaEventFooterPolicy('Quienes Somos')" href="/static/about" >Quiénes somos</a>
                </div>
                <hr class="mt-0">
                <div class="mb-3 mb-md-0">
                    <a (click)="gaEventFooterPolicy('Aviso Legal')" href="/static/aviso-legal" >Aviso legal</a>
                </div>
                <hr class="mt-0">
                <div class="mb-3 mb-md-0">
                    <a (click)="gaEventFooterPolicy('Politica De Privacidad')" target="_blank" href="https://cempresarial.co/SIGO-GE-PPD-DG-05PoliticaTratamientoDatosPersonalesCEV4202012SIGO.pdf" >Política de protección de datos personales</a>
                </div>
                <hr class="mt-0">
                <div class="mb-3 mb-md-0">
                    <a (click)="gaEventFooterPolicy('Politica De Cookies')" href="/static/politica-de-cookies" >Política de cookies</a>
                </div>
                <hr class="mt-0">
                <div class="mb-3 mb-md-0">
                    <a (click)="gaEventFooterPolicy('Juego Responsable')" href="/static/juego-responsable" >Juego responsable</a>
                </div>
                <hr class="mt-0">
                <div class="mb-3 mb-md-0">
                    <a (click)="gaEventFooterPolicy('Ayuda')" href="/static/ayuda" >Ayuda</a>
                </div>
                <hr class="mt-0">
                <div class="mb-3 mb-md-0">
                    <a (click)="gaEventFooterPolicy('Reclamaciones')" href="/reclamaciones" >Reclamaciones</a>
                </div>
                <hr class="mt-0">
                <div class="mb-3 mb-md-0">
                    <a (click)="gaEventFooterPolicy('Acuerdo 04')" href="/static/acuerdo-4-16-coljuegos" >Acuerdo 04</a>
                </div>
                <hr class="mt-0">
                <div class="mb-3 mb-md-0">
                    <a (click)="gaEventFooterPolicy('Acuerdo 05')" href="/static/acuerdo-5-16-coljuegos" >Acuerdo 05</a>
                </div>
                <hr class="mt-0">
                <div class="mb-3 mb-md-0">
                    <a (click)="gaEventFooterPolicy('Acuerdo 02')" href="/static/acuerdo-02" >Acuerdo 02</a>
                </div>
            </div>
        </div>
    </div>
</div>