<ul class="menu">
    <li (click)="OpenModal('DEPOSITS')">
        Métodos de recarga <i class="fas fa-chevron-right float-right"></i>
    </li>
    <li (click)="OpenModal('WITHDRAWALS')">
        Retirar saldo <i class="fas fa-chevron-right float-right"></i>
    </li>
    <li (click)="OpenModal('BALANCE')">
        Balance <i class="fas fa-chevron-right float-right"></i>
    </li>
    <li (click)="OpenModal('HISTORY')">
        Historial <i class="fas fa-chevron-right float-right"></i>
    </li>
    <li (click)="OpenModal('PROFILE')">
        Mi cuenta <i class="fas fa-chevron-right float-right"></i>
    </li>
    <li (click)="OpenModal('RESPONSABLE_GAME')">
        Juego responsable <i class="fas fa-chevron-right float-right"></i>
    </li>
</ul>