<div class="footer-navbar">
    <nav>
        <div class="row -m-0">
            <div class="responsive-centered col-12 col-md-3 mb-3 pr-0 pl-md-0">
                <h5><b>APUESTAS</b></h5>
                <ul>
                    <a (click) = "gaEventFooterNav('Apuestas','Apuestas Live')" [href]="['/apuestas#filter/all/all/all/all/in-play']">
                        <li>Apuestas Live</li>
                    </a>

                    <a (click) = "gaEventFooterNav('Apuestas','Futbol')" [href]="['/apuestas#filter/football/']">
                        <li>Fútbol</li>
                    </a>

                    <a (click) = "gaEventFooterNav('Apuestas','Baloncesto')" [href]="['/apuestas#filter/basketball/']">
                        <li>Baloncesto</li>
                    </a>

                    <a (click) = "gaEventFooterNav('Apuestas','Tenis')" [href]="['/apuestas#filter/tennis/']">
                        <li>Tenis</li>
                    </a>

                    <a (click) = "gaEventFooterNav('Apuestas','Reglas')" [href]="['/static/reglas-apuestas']">
                        <li>Reglas</li>
                    </a>
                </ul>
            </div>
            <div class="responsive-centered col-12 col-md-3 mb-3 pr-0">
                <h5><b>SLOTS</b></h5>

                <ul>
                    <a (click) = "gaEventFooterNav('Slots','Todos')" [href]="['/slots']">
                        <li>Todos</li>
                    </a>

                    <a (click) = "gaEventFooterNav('Slots','Reglas')" [href]="['/static/slots-roules']">
                        <li>Reglas</li>
                    </a>

                    <a (click) = "gaEventFooterNav('Slots','Reglas Poker')" [href]="['/static/reglas-poker']">
                        <li>Reglas Poker</li>
                    </a>

                    <a (click) = "gaEventFooterNav('Slots','Reglas Bacarat')" [href]="['/static/reglas-bacarat']">
                        <li>Reglas Bacarat</li>
                    </a>

                    <a (click) = "gaEventFooterNav('Slots','Reglas Holdem')" [href]="['/static/reglas-holdem']">
                        <li>Reglas Holdem</li>
                    </a>

                    <a (click) = "gaEventFooterNav('Slots','Reglas Ruleta')" [href]="['/static/reglas-ruleta']">
                        <li>Reglas Ruleta</li>
                    </a>

                    <a (click) = "gaEventFooterNav('Slots','Reglas UBJ')" [href]="['/static/reglas-ubj']">
                        <li>Reglas UBJ</li>
                    </a>
                </ul>
                
            </div>
            <div class="responsive-centered col-12 col-md-6 mb-3 pr-0">
                <h5><b>FAQS</b></h5>
                <div class="row m-0">
                    <div class="col-4 pl-0">
                        <ul>
                            <a (click) = "gaEventFooterNav('FAQS','Apuestas')" [routerLink]="['/faq','apuestas']">
                                <li>Apuestas</li>
                            </a>
        
                            <a (click) = "gaEventFooterNav('FAQS','Slots')" [routerLink]="['/faq','slots']">
                                <li>Slots</li>
                            </a>
        
                            <a (click) = "gaEventFooterNav('FAQS','Registro')" [routerLink]="['/faq','registro']">
                                <li>Registro</li>
                            </a>
        
                            <a (click) = "gaEventFooterNav('FAQS','Deposito')" [routerLink]="['/faq','deposito']">
                                <li>Depósito</li>
                            </a>

                            <a (click) = "gaEventFooterNav('FAQS','Generales')" [routerLink]="['/faq','generales']">
                                <li>Generales</li>
                            </a>

                            <a (click) = "gaEventFooterNav('FAQS','Bonos')" [routerLink]="['/faq','bonos']">
                                <li>Bonos</li>
                            </a>
                        </ul>
                    </div>
                    <div class="col-8 p-0">
                        <ul>
                            <a (click) = "gaEventFooterNav('FAQS','Retiradas')" [routerLink]="['/faq','retiradas']">
                                <li>Retiradas</li>
                            </a>
                            
                            <a (click) = "gaEventFooterNav('FAQS','Glosario')" [routerLink]="['/faq','glosario']">
                                <li>Glosario</li>
                            </a>
        
                            <a (click) = "gaEventFooterNav('FAQS','Formato De Solicitud')" [routerLink]="['/static','formato-de-solicitud']">
                                <li>Formato de solicitud</li>
                            </a>
        
                            <a (click) = "gaEventFooterNav('FAQS','Terminos Y Condiciones')" target="_blank" href="https://apicrm.betplay.com.co/terms/Terminos%20y%20condiciones%20201906.pdf">
                                <li>Términos y condiciones</li>
                            </a>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </nav>
    
</div>