<div class="p-3 text-center">
    <p class="text-blue font-weight-bold">TÉRMINOS Y CONDICIONES</p>
    <mat-divider class="white_divider"></mat-divider>
    <br>
    <p>
        Debido a tu reactivación de tu cuenta, te pedimos amablemente que aceptes de nuevo los terminos y condiciones junto con la aceptación de protección de datos.
    </p>
    <div class="mb-3">
        <mat-checkbox
        class="mr-2"
        ></mat-checkbox>
        <ul style="padding-left: 2.5rem; margin-top: -1.5rem;">
            <li>
                Autorizo para que los datos suministrados en el presente formulario sean validados y tratados de 
                acurdo a la Política de Protección de Datos Personales de Corredor Empresarial S.A.
            </li>
        </ul>
    </div>
</div>
